.layout {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;

  .wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    gap: 20px;

    .container {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      max-width: 1280px;
      width: 100%;
      margin: 0 auto;
      padding: 0 60px;
      gap: 45px;
    }
  }
}

@media (max-width: 1024px) {
  .layout {
    padding: 0 60px;
    .wrapper {
      .container {
        padding: 0;
        max-width: 500px;
      }
    }
  }
}

@media (max-width: 480px) {
  .layout {
    padding: 0;
    .wrapper {
      .container {
        padding: 0 40px;
      }
    }
  }
}

@media (max-width: 380px) {
  .layout {
    .wrapper {
      gap: 0;
    }
  }
}
