.wrapper {
  display: flex;
  align-items: center;
  gap: 24px;
  width: 100%;

  h1 {
    font-size: 32px;
    font-weight: 700;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
      'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-wrap: nowrap;
  }
  .separator {
    max-width: 17vw;
    width: 100%;
  }
}

@media (max-width: 480px) {
  .wrapper {
    h1 {
      font-size: 28px;
    }
  }
}
